---
---
@charset "utf-8";

// Breakpoints
$mobile: max-width 767px;
$tablet: min-width 768px max-width 991px;
$desktop: min-width 992px max-width 1199px;
$largedesktop: min-width 1200px;

// Colours
$brand-color: rgb(70, 142, 229);
$separator-color: rgb(214,214,214);
$dark-color: rgb(0, 33, 76);
$dark-link-color: darken($dark-color, 25);
$light-color: rgb(255,255,255);
$form-background: rgb(245,245,245);
$footer-color: rgb(242, 242, 242);

@mixin brand-gradient() {
	background-color: $brand-color;
	@include linear-gradient(top, rgb(4, 59, 126) 0%, rgb(104, 121, 229) 100%);
}

// Libraries
@import "normalize";
@import "bourbon";
@import "neat";

@import "syntax-highlighting";

// Our SCSS
@import "home";
@import "blog";
@import "page";
@import "meetup";
@import "coworking";
@import "contact";
@import "about";
@import "job-board";
@import "academy";
* {
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', Helvetica Neue, Arial, Sans-Serif;
	font-size: 1.1em;
	color: $dark-color;
}

html, body {
	height: 100%;
}

a, .dark {
	text-decoration: none;
  color: $dark-link-color;
}

a:hover, .dark:hover {
  color: lighten($dark-link-color, 20);
}

h1, h2, h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	margin: 0;
}

h1, h2 {
	text-transform: none;
}

h2 {
	font-size: 2.4em;
	margin-bottom: 8px;

  @include media($mobile) {
      font-size: 1.8em;
  }
}

h3 {
	font-size: 1.4em;
}

.nav {
	display: block;
}

header {
  font-family: 'Quicksand', sans-serif;
  height: 120px;
  color: $brand-color;
  background-color: $light-color;

  @include media($mobile) {
      height: 50px;
  }

  @include media($tablet) {
      height: 50px;
  }

  .left {
    float: left;
    text-align: left;
    font-size: 1.2em;
    margin-left: 40px;
    height: 100%;
    line-height: 120px;

    @include media($mobile) {
      font-size: 1.3em;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0px;
      margin-left: 0;
      text-align: center;
      line-height: 40px;
    }

    @include media($tablet) {
      font-size: 2.4em;
      width: 100%;
      margin-top: 10px;
      margin-left: 0;
      margin-bottom: 3px;
      line-height: 60px;
      text-align: center;
    }
  }

  .right {
    float: right;
    text-align: right;
    margin-right: 40px;
    height: 100%;
    line-height: 95px;
    font-size: 1.2em;

    @include media($tablet) {
      font-size: 1.1em;
      width: 100%;
      margin-top: 10px;
      margin-right: 0;
      margin-bottom: 10px;
      line-height: 40px;
      text-align: center;
    }
    @include media($mobile) {
      font-size: 0.8em;
      width: 100%;
      margin-right: 0px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 25px;
    }
  }

  a {
    color: $brand-color;
    decoration: none;
    }
  a:hover {
    color: darken($brand-color, 20);
  }

  .header-nav {
    ul {
      padding: 0px;
    }
    li {
      display: inline;
      padding: 0 10px;
    }
    li:last-child{
      border-right: none;
    }
  }
}

.sign-in {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 0.8em;
  padding: 6px, 40px;
}

.button {
	display: inline-block;
	border: 1px solid $dark-color;
	border-radius: 3px;
	padding: 15px 40px;
  font-size: 0.8em;
	color: $dark-color;
}

.button:hover {
  border-color: darken($dark-color, 20);
  color: darken($dark-color, 20);
}

.light {
  border-color: $light-color;
  color: $light-color;
  background: transparent;
}

.white-fill {
  border-color: $light-color;
  background: $light-color;
  color: $brand-color;
}

.dark-fill {
  border-color: $dark-color;
  background: $dark-color;
  color: $light-color;
}

.light:hover {
  border-color: $light-color;
  color: $light-color;
}

footer {
  @include span-columns(12 of 12);
  padding-top: 24px;
  background: $footer-color;
  text-align: left;
  margin: 0px;

  .pages {
    @include span-columns(10 of 12);
    @include shift(1);

    a {
      color: $brand-color;
    }

    .footer-title {
      @include span-columns(2 of 10);
      font-size: 1.4em;
      color: $brand-color;
      text-align: center;

      @include media($mobile) {
        @include span-columns(4 of 4);
        padding: 0px;
        font-size: 1.2em;
        line-height: 1.2em;
      }
    }
  }

  .info {
    @include span-columns(10 of 12);
    @include shift(1);
    color: $dark-color;
    margin-bottom: 18px;

    img {
      height: 14px;
    }

    a{
      color: $dark-color;
    }

    a:hover{
      color: $brand-color;
    }

    .left {
      float: left;

      @include media($mobile) {
        float: none;
      }
    }

    .right {
      float: right;

      @include media($mobile) {
        float: none;
      }
    }

    @include media($tablet) {
      @include span-columns(10 of 12);
      @include shift(1);
    }

    @include media($mobile) {
      @include span-columns(10 of 12);
      @include shift(1);
    }
  }

  .list {
    list-style-type: none;
    padding: 0;

    @include media($mobile) {
      margin-top: 7px;
    }

    a {
      @extend .light;
    }
  }

  .copyright {
    @include span-columns(4 of 12);
    @include shift(4);
    text-align: center;
    color: $dark-color;
    margin-bottom: 8px;
  }
}

.section {
  @include span-columns(8 of 12);
  @include shift(2);
  color: $dark-color;
  margin-top: 32px;
  margin-bottom: 28px;

  @include media($mobile) {
    @include span-columns(10 of 12);
    @include shift(1);
    font-size: 1.1em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include media($tablet) {
    @include span-columns(8 of 12);
    @include shift(2);
    font-size: 1.1em;
    padding-top: 0;
    padding-bottom: 0;
  }

  h3 {
    font-size: 1.4em;
    line-height: 1.6em;
    text-align: center;

    @include media($mobile) {
      font-size: 0.9em;
      line-height: 1.1em;
    }

    @include media($tablet) {
      font-size: 1.0em;
      line-height: 1.1em;
    }
  }

  h2 {
    font-size: 1.9em;
    line-height: 1.9em;
    text-align: center;
    margin-bottom: 12px;

    @include media($mobile) {
      line-height: 1.7em;
      font-size: 1.3em;
    }

    @include media($tablet) {
      font-size: 1.8em;
    }
  }

  p {
    @include span-columns(10 of 12);
    @include shift(1);
    font-size: 1.1em;
    line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-bottom: 20px;

    @include media($mobile) {
      font-size: 0.8em;
    }

    @include media($tablet) {
      font-size: 1.1em;
    }
  }
}

.subscribe {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 635px;
		margin-bottom: 12px;

    *::-webkit-input-placeholder {
        color: darken($light-color, 30);
    }
    *:-moz-placeholder {
        /* FF 4-18 */
        color: darken($light-color, 30);
    }
    *::-moz-placeholder {
        /* FF 19+ */
        color: darken($light-color, 30);
    }
    *:-ms-input-placeholder {
        /* IE 10+ */
        color: darken($light-color, 30);
    }

    @include media($tablet) {
      width: 600px;
    }

    @include media($mobile) {
      margin-top: 0px;
      width: 300px;
    }

    h2 {
      font-size: 1.9em;
      line-height: 1.9em;
      text-align: center;
      margin-bottom: 20px;

      @include media($mobile) {
        line-height: 1.7em;
        font-size: 1.3em;
      }

      @include media($tablet) {
        font-size: 1.8em;
      }
    }

    label {
      color: $dark-color;
      display: block;
      text-align: center;
      margin-top: 18px;
      margin-bottom: 20px;
      font-family: 'Open Sans', sans-serif;

      @include media($mobile) {
       font-size: 0.8em;
       max-width: 300px;
      }
    }

    .subscribe-sizing {
      height: 50px;
      padding: 0;
      margin: 0;
      font-size: 1.1em;

      @include media($tablet) {
       font-size: 0.9em;
     }

      @include media($mobile) {
        height: 44px;
       font-size: 0.7em;
      }
    }

    input {
      display: inline-block;
      width: 400px;
      border-width: 1px;
      border-color: $brand-color;
      border-style: solid;
      padding-left: 10px !important;
      border-radius: 3px;
      padding-left: 14px;

      @include media($mobile) {
       width: 200px;
     }

     @include media($tablet) {
       width: 400px;
     }
    }

    .subscribe-button {
      display: inline-block;
      width: 185px;
      background-color: $brand-color;
      color: $light-color;
      border-radius: 3px;
      border-width: 1px;
      border-color: $brand-color;
      margin-left: 22px;

      @include media($mobile) {
       width: 80px;
       margin-left: 12px;
     }
      @include media($tablet) {
       width: 120px;
     }
    }

    .subscribe-button:hover {
        color: $brand-color;
        background-color: $light-color;
        border-color: $brand-color;
    }

    input:focus {
        outline-style:none;
        -webkit-box-shadow: inset 0 1px 1px lighten($dark-color, 40), 0 0 2px $dark-color;
          box-shadow: inset 0 1px 1px lighten($dark-color, 20), 0 0 2px $dark-color;
    }
}

.vert-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: $light-color;
  height: 400px;
  display: table;
  width: 100%;

  h2 {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.9em;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: 700;

    @include media($mobile) {
      vertical-align: middle;
      font-size: 1.4em;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  a:link, a:visited {
    color: $light-color;
  }
  a:hover {
    color: #f6f6f6;
  }
}

.error {
  @include span-columns(6 of 12);
  @include shift(3);
  color: $dark-color;
  margin-top: 32px;
  margin-bottom: 28px;

	h2 {
		font-size: 1.9em;
		line-height: 1.9em;
		text-align: center;
		margin-bottom: 12px;
	}

	p {
		max-width: 600px;
		margin-top: 20px;
		text-align: center;
	}

	p:last-child {
		margin-bottom: 28px;
	}

	img {
		margin: 30 auto;
	}

	.actions {
		vertical-align:middle;
		margin: 30px auto;
		text-align: center;

		.button {
			margin-right: 30px;
			font-size: 1.2em;
		}

		.button:last-child {
			margin-right: 0;
		}
	}
}

.img-404 {
	display: table;
	height: 250px;
	width: 100%;
	position: relative;
	background: url(/images/404.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
