---
---
@charset "utf-8";

// Breakpoints
$mobile: max-width 767px;
$tablet: min-width 768px max-width 991px;
$desktop: min-width 992px max-width 1199px;
$largedesktop: min-width 1200px;

// Colours
$brand-color: rgb(70, 142, 229);
$separator-color: rgb(214,214,214);
$dark-color: rgb(0, 33, 76);
$dark-link-color: darken($dark-color, 25);
$light-color: rgb(255,255,255);
$form-background: rgb(245,245,245);
$footer-color: rgb(242, 242, 242);

@mixin brand-gradient() {
	background-color: $brand-color;
	@include linear-gradient(top, rgb(4, 59, 126) 0%, rgb(104, 121, 229) 100%);
}

// Libraries
@import "normalize";
@import "bourbon";
@import "neat";

@import "syntax-highlighting";

// Our SCSS
@import "home";
@import "blog";
@import "page";

* {
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', Helvetica Neue, Arial, Sans-Serif;
	font-size: 1.1em;
	color: $dark-color;
}

html, body {
	height: 100%;
}

a, .dark {
	text-decoration: none;
  color: $dark-link-color;
}

a:hover, .dark:hover {
  color: lighten($dark-link-color, 20);
}

h1, h2, h3 {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	margin: 0;
}

h1, h2 {
	text-transform: none;
}

h1 {
	font-size: 2.6em;

  @include media($tablet) {
    font-size: 2em;
  }

  @include media($mobile) {
    font-size: 1.8em;
  }
}

h2 {
	font-size: 2.4em;

  @include media($mobile) {
      font-size: 2em;
  }
}

h3 {
	font-size: 1.4em;
}

.nav {
	display: block;
}

header {
  font-family: 'Quicksand', sans-serif;
  height: 120px;
  color: $brand-color;
  background-color: $light-color;

  @include media($mobile) {
      height: 50px;
  }

  @include media($tablet) {
      height: 50px;
  }

  .left {
    float: left;
    text-align: left;
    font-size: 1.2em;
    margin-left: 40px;
    height: 100%;
    line-height: 120px;

    @include media($mobile) {
      font-size: 2.0em;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 3px;
      margin-left: 0;
      text-align: center;
      line-height: 40px;
    }

    @include media($tablet) {
      font-size: 2.4em;
      width: 100%;
      margin-top: 10px;
      margin-left: 0;
      margin-bottom: 3px;
      line-height: 60px;
      text-align: center;
    }
  }

  .right {
    float: right;
    text-align: right;
    margin-right: 40px;
    height: 100%;
    line-height: 120px;
    font-size: 1.2em;

    @include media($tablet) {
      font-size: 1.1em;
      width: 100%;
      margin-top: 10px;
      margin-right: 0;
      margin-bottom: 10px;
      line-height: 40px;
      text-align: center;
    }
    @include media($mobile) {
      font-size: 0.9em;
      width: 100%;
      margin-right: 0px;
      margin-bottom: 10px;
      text-align: center;
      line-height: 40px;
    }
  }

  a {
    color: $brand-color;
    decoration: none;
    }
  a:hover {
    color: darken($brand-color, 20);
  }

  .links {
    li {
      display: inline;
      padding: 0 10px;
      border-right: 1px solid #4A90E2;
    }
    li:last-child{
      border-right: none;
    }
  }
}

.sign-in {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 0.8em;
  padding: 6px, 40px;
}

.button {
	display: inline-block;
	border: 1px solid $dark-color;
	border-radius: 3px;
	padding: 15px 40px;
  font-size: 0.8em;
	color: $dark-color;
}

.button:hover {
  border-color: darken($dark-color, 20);
  color: darken($dark-color, 20);
}

.light {
  border-color: $light-color;
  color: $light-color;
  background: transparent;
}

.white-fill {
  border-color: $light-color;
  background: $light-color;
  color: $brand-color;
}

.dark-fill {
  border-color: $dark-color;
  background: $dark-color;
  color: $light-color;
}

.light:hover {
  border-color: $light-color;
  color: $light-color;
}

footer {
  @include span-columns(12 of 12);
  padding-top: 24px;
  display: block;
  background: $footer-color;
  text-align: left;

  .info {
    @include span-columns(10 of 12);
    @include shift(1);
    color: $dark-color;
    margin-bottom: 18px;

    a{
      color: $dark-color;
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    @include media($tablet) {
      @include span-columns(12 of 12);
      @include shift(0);
    }

    @include media($mobile) {
      @include span-columns(12 of 12);
      @include shift(0);
    }
  }

  .list {
    list-style-type: none;
    padding: 0;

    @include media($mobile) {
      margin-top: 7px;
    }

    a {
      @extend .light;
    }
  }

  .copyright {
    @include span-columns(4 of 12);
    @include shift(4);
    text-align: center;
    color: $dark-color;
    margin-bottom: 8px;
  }
}

.section {
  @include span-columns(8 of 12);
  @include shift(2);
  color: $dark-color;
  margin-top: 32px;
  margin-bottom: 28px;

  @include media($mobile) {
    @include span-columns(10 of 12);
    @include shift(1);
    font-size: 1.1em;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include media($tablet) {
    @include span-columns(8 of 12);
    @include shift(2);
    font-size: 1.1em;
    padding-top: 0;
    padding-bottom: 0;
  }

  h2 {
    font-size: 1.9em;
    line-height: 1.9em;
    text-align: center;

    @include media($mobile) {
      font-size: 1.6em;
    }

    @include media($tablet) {
      font-size: 1.8em;
    }
  }

  p {
    @include span-columns(10 of 12);
    @include shift(1);
    font-size: 1.1em;
    line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-bottom: 20px;

    @include media($mobile) {
      font-size: 0.8em;
    }

    @include media($tablet) {
      font-size: 1.1em;
    }
  }
}

.subscribe {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 635px;

    *::-webkit-input-placeholder {
        color: darken($light-color, 30);
    }
    *:-moz-placeholder {
        /* FF 4-18 */
        color: darken($light-color, 30);
    }
    *::-moz-placeholder {
        /* FF 19+ */
        color: darken($light-color, 30);
    }
    *:-ms-input-placeholder {
        /* IE 10+ */
        color: darken($light-color, 30);
    }

    @include media($tablet) {
      width: 600px;
    }

    @include media($mobile) {
      width: 500px;
    }

    label {
      color: $dark-color;
      display: block;
      text-align: center;
      margin-top: 5px;

      @include media($mobile) {
       font-size: 0.8em;
       max-width: 300px;
      }
    }

    .subscribe-sizing {
      height: 50px;
      padding: 0;
      margin: 0;
      font-size: 1.1em;

      @include media($tablet) {
       font-size: 0.9em;
     }

      @include media($mobile) {
        height: 44px;
       font-size: 0.8em;
      }
    }

    input {
      display: inline-block;
      width: 400px;
      border-width: 1px;
      border-color: $brand-color;
      border-style: solid;
      padding-left: 10px !important;
      border-radius: 3px;
      padding-left: 14px;

      @include media($mobile) {
       width: 220px;
     }

     @include media($tablet) {
       width: 400px;
     }
    }

    .subscribe-button {
      display: inline-block;
      width: 185px;
      background-color: $brand-color;
      color: $light-color;
      border-radius: 3px;
      border-width: 1px;
      border-color: $brand-color;
      margin-left: 22px;

      @include media($mobile) {
       width: 100px;
       margin-left: 12px;
     }
      @include media($tablet) {
       width: 120px;
     }
    }

    .subscribe-button:hover {
        color: $brand-color;
        background-color: $light-color;
        border-color: $brand-color;
    }

    input:focus {
        outline-style:none;
        -webkit-box-shadow: inset 0 1px 1px lighten($dark-color, 40), 0 0 2px $dark-color;
          box-shadow: inset 0 1px 1px lighten($dark-color, 20), 0 0 2px $dark-color;
    }
}
