---
title: "RookieOven | Baking a Tasty Startup Scene in Scotland"
layout: page
---
<div class="header-img">
  <div class="vert-text">
     <h2>{{ site.data.home.header }}</h2>
  </div>
</div>

<div class="section">
		<h2>{{ site.data.home.subheader }}</h2>
		<p>{{ site.data.home.introduction }}</p>
</div>

{% include subscribe.html %}

<div class="middle-img">
  <div class="vert-text">
  	<h2>{{ site.data.home.middle }}</h2>
  </div>
</div>

<div class="section partners">
	<h2>Partners</h2>

	{% for partner in site.data.partners %}
		<img class="partner" src="/images/{{ partner.image }}">
	{% endfor %}

</div>

<div class="recent">
	<h2>Recent Posts</h2>

	{% for post in site.posts limit:2 %}

		<div class="post">
			<h3 class="post-title"><a href={{ post.permalink }}>{{ post.title }}</a></h3>
			<img class="post-image" src="{{ post.headerImage }}">
			<p class="post-excert">{{ post.content |truncatehtml | truncatewords: 50 }}</p>
    </div>

	{% endfor %}
</div>

<div class="section">
<h2>Have something to shout about?</h2>
	<h3>Get in touch so we can spread the word. Email hello@rookieoven.com with the details.
</h3>
</div>
