---
title: "The home of the Glasgow tech startup community | Coworking for startups in Glasgow"
layout: page
---
<div class="header-img">
  <div class="vert-text">
     <h2>{{ site.data.home.header }}</h2>
  </div>
</div>

<div class="section">
		<h2>{{ site.data.home.subheader }}</h2>
		<p>{{ site.data.home.introduction }}</p>
</div>

{% include subscribe.html %}

<div class="home-middle-img">
  <div class="vert-text">
  	<h2>{{ site.data.home.middle }}</h2>
  </div>
</div>

<div class="section partners">
	<h2>Partners</h2>

	{% for partner in site.data.partners %}
		<a href="{{ partner.url }}"><img class="partner" src="/images/{{ partner.image }}"></a>
	{% endfor %}

</div>

<div class="recent">
	<h2>Recent Posts</h2>

	{% for post in site.posts limit:2 %}

		<div class="post">
			<h3 class="post-title"><a href={{ post.permalink }}>{{ post.title }}</h3>
			<img class="post-image" src="{{ post.headerImage }}"></a>
			<div class="post-excert">
				{{ post.content |truncatehtml | truncatewords: 50 }}
			</div>
    </div>

	{% endfor %}
</div>

<div class="section">

  <h2>{{ site.data.home.info_subheader }}</h2>
  <p>{{ site.data.home.info_paragraph }}</p>

</div>

<div class="section">
<h3>Want to chat? Email michael@rookieoven.com</h3>
</div>
