---
title: Coworking
author: 1
layout: page
---
<div class="coworking-img">
  <div class="vert-text">
     <h2>{{ site.data.coworking.header }}</h2>
  </div>
</div>

<div class="section">
	<h2>{{ site.data.coworking.subheader }}</h2>
	<p>{{ site.data.coworking.introduction }}</p>

	<div class="pricing">
		<h2>Rates</h2>
		<div class="offering">
			<h3>Fixed Desk</h3>
			<h4>£175<small class="vat">+VAT</small></h4>
			<ul>
				<li>Your own desk to call home.</li>
				<li>Flexible access and working times</li>
				<li>Flexible 3 month contract</li>
				<li>Use of Boardroom</li>
			</ul>
			<a class="button">Enquire</a>
		</div>

		<div class="offering">
			<h3>Hot Desk</h3>
			<h4>£120<small class="vat">+VAT</small></h4>
			<ul>
				<li>Use of a Hot Desk</li>
				<li>Access between 8am and 6pm</li>
				<li>Flexible 3 month contract</li>
				<li>Bookable meetings rooms</li>
			</ul>
			<a class="button">More</a>
		</div>
	</div>
</div>

<div class="details section">
	<h2>About the space</h2>
	<ul>
		<li>Custom made desks</li>
		<li>Blazing internet access (gigabit line coming soon)</li>
		<li>Small kitchen with microwave, tea and coffee making facilities and a fridge freezer</li>
		<li>Retro games consoles - xbox 360, PSone and Sega Master System</li>
		<li>Pool table</li>
		<li>A small library with businesses and technical books</li>
		<li>Free onsite parking, shower and a museum on the ground floor</li>
	</ul>
</div>
<div class="middle-img">
  <div class="vert-text">
     <h2>{{ site.data.coworking.middle }}</h2>
  </div>
</div>

<div class="section">
	<div class="tenants">
		<h2>Tenants</h2>

		{% for tenant in site.data.tenants %}
			<img class="tenant" src="/images/tenants/{{ tenant.image }}">
		{% endfor %}
	</div>
</div>
{% include subscribe.html %}

