---
title: Coworking | A Home for Glasgow Technology
author: 1
layout: page
description: A beautiful coworking space just for tech in Glasgow. Home to some of the best development, design and businesses talent in the city.
---
<div class="coworking-img">
  <div class="vert-text">
     <h2>{{ site.data.coworking.header }}</h2>
  </div>
</div>

<div class="section">
	<h2>{{ site.data.coworking.subheader }}</h2>
	<p>{{ site.data.coworking.introduction }}</p>
</div>

<div class="image-row">
	<img src="/images/coworking1.jpg">
	<img src="/images/coworking2.jpg">
	<img src="/images/coworking3.jpg">
	<img src="/images/coworking4.jpg">
	<img src="/images/coworking5.jpg">
	<img src="/images/coworking6.jpg">
	<img src="/images/coworking7.jpg">
	<img src="/images/coworking8.jpg">
</div>

<div class="section" id="pricing">
	<div class="pricing">
		<h2>Rates</h2>
		<div class="offering">
			<h3>Fixed Desk</h3>
			<h4>£175<small class="vat">+VAT</small></h4>
			<small class="vat">per month</small>
			<ul>
				<li>Your own desk to call home</li>
        <li>Comfy office chair</li>
				<li>Access 7 days a week</li>
        <li>Flexible working times</li>
        <li>Use as business/mailling address</li>
				<li>3 calendar month notice to cancel</li>
				<li>Use of Boardroom</li>
			</ul>
			<a href="mailto:{{ site.data.links.email }}" class="button">Enquire</a>
		</div>

		<div class="offering">
			<h3>Hot Desk</h3>
			<h4>£120<small class="vat">+VAT</small></h4>
			<small class="vat">per month</small>
			<ul>
				<li>Access to RookieOven to work</li>
        <li>Flexible working environment</li>
        <li>Access Monday to Friday</li>
				<li>Access between 8am and 6pm</li>
        <li>3 calendar month notice to cancel</li>
				<li>Bookable meetings rooms</li>
				<li>Access to events</li>
			</ul>
      <a href="mailto:{{ site.data.links.email }}" class="button">Enquire</a>
		</div>
	</div>
</div>

<div class="details section">
	<h2>About the space</h2>
	<ul>
		<li>Custom made desks, 1.2 metre square</li>
		<li>Blazing internet access (>300bms) thanks to our awesome partner Telcom</li>
		<li>Kitchen with microwave, tea and coffee making facilities and a fridge freezer</li>
		<li>Retro games consoles - xbox 360, PSone and Sega Master System</li>
		<li>Pub style pool table - free to use</li>
    <li>A Sonos playing the best 80's tunes</li>
		<li>A small library with business, design, product, marketing and technical books</li>
		<li>Free onsite parking</li>
    <li>Printer and shredder</li>
    <li>Excellent transport links with the M8, Clyde Tunnel, Subway and Fastlink buses nearby</li>
    <li>Bike storage and onsite shower</li>
    <li>We even have a museum on the ground floor</li>
	</ul>
</div>
<div class="middle-img">
  <div class="vert-text">
     <h2>{{ site.data.coworking.middle }}</h2>
  </div>
</div>

<div class="section" id="tenants">
	<div class="tenants">
		<h2>Tenants</h2>

		{% for tenant in site.data.tenants %}
			<a href="{{ tenant.url }}"><img class="tenant" src="/images/tenants/{{ tenant.image }}"></a>
		{% endfor %}
	</div>
</div>

<div class="find-us" id="find-us">
	<h2>Find Us</h2>
	<div class="map">
		<iframe width='100%' height='300px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/mdhayes.mjh655j0/attribution.html?access_token=pk.eyJ1IjoibWRoYXllcyIsImEiOiIzc0d2MjBjIn0.mYIBQhNxrLGWCdOOINdePw'></iframe>
	</div>
</div>
{% include subscribe.html %}
