<footer class="footer">

  <div class="pages">
    <div class="footer-title">
      <p><a href='/coworking'>Coworking</a></p>
    </div>

    <div class="footer-title">
      <p><a href='/blog'>Blog</a></p>
    </div>

    <div class="footer-title">
      <p><a href='/meetup'>Meetup</a></p>
    </div>

    <div class="footer-title">
      <p><a href='/job-board'>Job Board</a></p>
    </div>

    <div class="footer-title">
      <p><a href='/contact'>Contact</a></p>
    </div>
  </div>

  <div class="info">
    <div class="left">
      <ul class="list">
        <li><a href="{{ site.data.links.twitter }}">@rookieoven</a></li>
        <li><a href="{{ site.data.links.facebook }}">facebook.com/rookieoven</a></li>
        <li><a href="mailto:{{ site.data.links.email }}">{{ site.data.links.email }}</a></li>
      </ul>
    </div>
    <div class="right">
      <ul class="list">
        <li>Fairfield Shipyard Offices</li>
        <li>1046-1048 Govan Road</li>
        <li>G51 4XS</li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    RookieOven &#169 {{site.time | date: "%Y"}}
  </div>
</footer>

<!-- JS -->
<script type="text/javascript" src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/modernizr-2.8.3.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23388541-1', 'auto');
  ga('send', 'pageview');

</script>
