<footer class="footer">
<div class="info">
  <div class="left">
    <h3>Contact</h3>
    <ul class="list">
      <li><a href="{{ site.data.links.twitter }}">@rookieoven</a></li>
      <li><a href="{{ site.data.links.email }}">michael@rookieoven.com</a></li>
      <li><a href="{{ site.data.links.blog }}">Blog</a></li>
    </ul>
  </div>
  <div class="right">
    <h3>Address</h3>
    <ul class="list">
      <li>1046-1048 Govan Road,</li>
      <li>Glasgow,</li>
      <li>G51 4XS</li>
    </ul>
  </div>
</div>
<div class="copyright">
  RookieOven &#169 {{site.time | date: "%Y"}}
</div>
</footer>

<!-- JS -->
<script type="text/javascript" src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/modernizr-2.8.3.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
