<div class="subscribe">
	<form class="subscribe" action="http://lolnewsletter.us3.list-manage1.com/subscribe/post" method="POST">
  	<input type="hidden" name="u" value="6fdb1513fca31b3b5bdf1cd50">
  	<input type="hidden" name="id" value="37217ba75e">
  	<input id='email' name="MERGE0" type="email" class="subscribe-sizing" placeholder="michael@rookieoven.com" required=true><button type="submit" class="subscribe-button subscribe-sizing">Subscribe</button>
		<label for='email'>A weekly update on Scottish tech. No spam.</label>
	</form>
</div>
