.academy-img {
  display: table;
  height: 80%;
  width: 100%;
  position: relative;
  background: url(/images/academy-top.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.academy-middle-img {
  display: table;
  height: 80%;
  width: 100%;
  position: relative;
  background: url(/images/academy-middle.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.academy-img:before {
	content: "";
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.15);
}
