.blog {

    .blog-header-img {
      display: table;
      height: 80%;
      width: 100%;
      position: relative;
      background: url(/images/rookieoven-indie.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .blog-header-img:before {
        content: "";
        position:absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .post-img {
      height: 80%;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;

        @include media($mobile) {
          height: 100%;
        }
      }
    }

    .empty-img {
      display: table;
      height: 80%;
      width: 100%;
      position: relative;
      background: url(/images/rookieoven.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
}

.vert-post-text {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  text-align: center;
  color: $light-color;
  height: 400px;
  display: table;
  width: 100%;

  h2 {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.9em;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: 700;

    @include media($mobile) {
      vertical-align: middle;
      font-size: 1.4em;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}


.blog .posts {
    @include span-columns(6 of 12);
    @include shift(3);
    margin-top: 50px;
    margin-bottom: 0;

    text-align: center;

    p {
        text-align: justify;
        font-family: 'Open Sans', sans-serif;
    }

    @include media($mobile) {
        @include span-columns(10 of 12);
        @include shift(1);
    }

    @include media($tablet) {
        @include span-columns(8 of 12);
        @include shift(2);
    }
}

.blog .summary:first-child {
    padding-top: 0;
}

.blog .summary:last-child {
    border-bottom: none;
}

.blog .summary {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $separator-color;
}

.blog .post {
    @include span-columns(12 of 12);
    margin-top: 20px;

    a {
        color: $brand-color;
    }

    p, ul, h2, h3, h4, h5, pre, div {
        display: block;
        margin: 20px auto;
    }

    p{
      font-family: 'Open Sans', sans-serif;
    }

    h3, h4, h5 {
        width: 50%;

        @include media($tablet) {
            width: 70%;
        }

        @include media($mobile) {
            width: 80%;
        }
    }

    video {
        max-width: 60%;
        text-align: center;
        margin: 0 auto;
        display: block;

        @include media($tablet) {
            max-width: 75%;
        }

        @include media($mobile) {
            max-width: 100%;
        }
    }

    p, ul, h2, pre {
        width: 50%;

        @include media($tablet) {
            width: 75%;
        }

        @include media($mobile) {
            width: 83.33%;
        }
    }

    h2 {
        margin-top: 50px;
    }

    img {
      max-width: 100%;
      margin: 0 auto;
      display: cover;
    }

    .image {
      width: 60%;
      margin: 20px auto;

      img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
      }

      @include media($tablet) {
        width: 90%;
      }

      @include media($mobile) {
        width: 100%;
      }
    }

    .date, .author {
        text-align: center;
        width: 100%;
    }

    .author {
        margin-bottom: 10px;
    }

    pre {
        background-color: #333;
        padding: 10px;
    }

    p > code {
        background-color: rgba(255, 53, 71, 0.1);
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 1px;
    }
}

.blog .blog-footer {
    @include span-columns(6 of 12);
    @include shift(3);

    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $separator-color;

    @include media($mobile) {
      @include span-columns(12 of 12);
      @include shift(0);
    }

    @include media($tablet) {
        @include span-columns(8 of 12);
        @include shift(2);
    }

    .subscribe {
      margin-top: 0;
    }
}

.blog .footer {
  background-color: $light-color;
  background-image: none;

  .copyright, .links {
    color: $dark-color;
  }

  .list a {
    @extend .dark;
  }
}

.date {
    color: lighten($dark-color, 30);
}

.empty {
    text-align: center;
}

.relatedPosts {
  h2 {
    padding-top: 40px;
    border-top: 1px solid $separator-color;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    margin: 10px 0;

    p {
      width: 100% !important;
      border-left: 5px solid $separator-color;
      padding-left: 20px;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.date-img {
  width: 16px;
  margin-right: 4px;
}

.pagination {
  @include span-columns(12 of 12);
  text-align: center;
}
