.vert-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
  text-align: center;
  color: $light-color;
  height: 400px;
  display: table;
  width: 100%;

  h2 {
  	display: table-cell;
  	vertical-align: middle;
  	font-size: 1.9em;
  	height: 100%;
  	padding-left: 100px;
  	padding-right: 100px;
  	font-weight: 700;
  }
  a:link, a:visited {
  	color: $light-color;
  }
  a:hover {
  	color: #f6f6f6;
  }
}

.coworking-img {
  display: table;
  height: 80%;
  width: 100%;
  position: relative;
  background: url(/images/rookieoven-overview.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.coworking-img:before {
	content: "";
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.15);
}

.middle-img {
  display: table;
  height: 60%;
  width: 100%;
  position: relative;
  background: url(/images/rookieoven-pool.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.middle-img:before {
	content: "";
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.15);
}

.tenants {
	@include span-columns(8 of 12);
	@include shift(2);
	color: $dark-color;
	text-align: center;

 	@include media($tablet) {
    @include span-columns(10 of 12);
		@include shift(1);
  }

 	@include media($mobile) {
    @include span-columns(10 of 12);
		@include shift(1);
  }

	.tenant {
		@include span-columns(3 of 12);
		padding: 0 25px;

	 	@include media($tablet) {
	    @include span-columns(4 of 12);
			@include shift(1);
	  }

	 	@include media($mobile) {
	    @include span-columns(5 of 12);
			@include shift(1);
	  }
	}
}

.pricing {
	@include span-columns(8 of 12);
	@include shift(2);
	color: #4A4A4A;
	text-align: center;

	h2 {
		font-size: 1.9em;
		line-height: 1.9em;
		padding-bottom: 12px;
		text-align: center;
	}
	.offering {
		@include span-columns(6 of 12);
		margin-bottom: 12px;

		@include media($mobile) {
			@include span-columns(10 of 12);
			@include shift(1);
  	}
		h3 {
			font-size: 1.3em;
			padding-bottom: 10px;
			text-align: center;
			color: $brand-color;
			font-weight: 700;
		}
		h4 {
			font-size: 3.0em;
			margin: 0;
			padding-bottom: 5px;
			text-align: center;
			color: $brand-color;
			font-weight: 700;

			.vat {
				font-size: 0.4em;
			}
		}
		ul{
			list-style-type: none;
		}
		li {
			text-align: left;
			font-size: 0.9em;
			line-height: 1.3em;
		}
		li:before {
    	content: "• ";
    	color: $brand-color;
		}
		.button {
			margin-top: 30px;
      height: 50px;
      width: 175px;
      margin-left: 0;
      display: inline-block;
      outline: 0;
      border: 1px solid $brand-color;
      border-radius: 4px;
      font-size: 1.1em;
      background-color: #ffffff;
      color: $brand-color;
      transition: .3s;
      cursor: pointer;
      -webkit-appearance: none;
      font-family: 'Quicksand', sans-serif;

      @include media($mobile) {
      	height: 54px;
      	width: 140px;
      	font-size: 0.8em;
  		}
    }

    .button :hover {
      background-color: $brand-color;
      color: #ffffff;
    }
	}
}

