.header-img {
  display: table;
  height: 80%;
  width: 100%;
  position: relative;
  background: url(/images/rookieoven-header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

 	@include media($mobile) {
	  background: url(/images/rookieoven-header-mobile.jpg) no-repeat center center fixed;
  }
}

.header-img:before {
	content: "";
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.15);
}

.home-middle-img {
  display: table;
  height: 60%;
  width: 100%;
  position: relative;
  background: url(/images/rookieoven-home-middle.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-middle-img:before {
	content: "";
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.15);
}

.partners {
	@include span-columns(8 of 12);
	@include shift(2);
	color: $dark-color;
	text-align: center;

 	@include media($tablet) {
    @include span-columns(10 of 12);
		@include shift(1);
  }

 	@include media($mobile) {
    @include span-columns(10 of 12);
		@include shift(1);
  }
	.partner {
		@include span-columns(3 of 12);
		max-width: 350px;
		padding: 0 25px 35px 25px;

	 	@include media($tablet) {
	    @include span-columns(4 of 12);
	  }

	 	@include media($mobile) {
	    @include span-columns(6 of 12);
	  }
	}
	h2 {
		font-size: 1.9em;
		line-height: 1.9em;
		padding-bottom: 30px;
		text-align: center;
	}
}

.recent {
	@include span-columns(8 of 12);
	@include shift(2);
	color: $dark-color;
	text-align: left;

	@include media($mobile) {
		@include span-columns(10 of 12);
		@include shift(1);
	}

	h2 {
		font-size: 1.9em;
		line-height: 1.9em;
		padding-bottom: 12px;
		text-align: center;
	}

	.post {
		@include span-columns(6 of 12);
		margin-bottom: 12px;

		@include media($mobile) {
			@include span-columns(12 of 12);
  	}

  	.post-excert {
			font-size: 1.0em;
			line-height: 1.6em;
		}

		.post-title {
			font-size: 1.3em;
			line-height: 1.4em;
			padding-bottom: 5px;
			text-align: center;
	    font-family: 'Quicksand', sans-serif;
		}

		img {
			width:100%;
		}
	}
}
