.meetup-header-img {
  display: table;
  height: 80%;
  width: 100%;
  position: relative;
  background: url(/images/rookieoven-meetup.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

   @include media($mobile) {
	  background: url(/images/rookieoven-meetup-mobile.jpg) no-repeat center center fixed;
  }
}

.meetup-header-img:before {
	content: "";
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.15);
}

.meetup {
	color: $dark-color;

	img {
			margin: 20px auto;
			height: 120px;
			display: block;
	}
	map {
		margin-bottom: 60px;

		@include media($mobile) {
        width: 100%
      }
	}
}

