.vert-text {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
  text-align: center;
  color: $light-color;
  height: 400px;
  display: table;
  width: 100%;

  h2 {
  	display: table-cell;
  	vertical-align: middle;
  	font-size: 1.9em;
  	height: 100%;
  	padding-left: 100px;
  	padding-right: 100px;
  	font-weight: 700;
  }
  a:link, a:visited {
  	color: $light-color;
  }
  a:hover {
  	color: #f6f6f6;
  }
}

.meetup-img {
  display: table;
  height: 80%;
  width: 100%;
  position: relative;
  background: url(/images/rookieoven-meetup.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.meetup-img:before {
	content: "";
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.15);
}

.meetup {
	color: $dark-color;

	img {
			width: 100%;
	}
	map {
		margin-bottom: 60px;

		@include media($mobile) {
        width: 100%
      }
	}
}

