---
title: Jobs | Join an amazing team, be brilliant
author: 1
layout: page
description: Working for in tech is a fantastic, rewarding experience. Now is the time to join an amazing team. Be brilliant.
---
<div class="jobs-header-img">
	<div class="vert-text">
   	<h2>{{ site.data.jobs.header }}</h2>
	</div>
</div>

<div class="jobs">
	<h2>Open Positions</h2>
	<table>
		<tr>
			<th class="hide"></th>
			<th>Company</th>
			<th>Position</th>
			<th>Location</th>
			<th></th>
		</tr>
		{% for job in site.data.jobs.positions %}
			{% if job.highlight %}
				<tr  class="job highlight">
			{% else %}
				<tr  class="job">
		  {% endif %}
					<td class="hide"><img src="/images/jobs/{{ job.logo }}"></td>
					<td>{{ job.company }}</td>
					<td>{{ job.position }}</td>
					<td>{{ job.location }}</td>
					<td><a href="{{ job.url }}">Apply</a></td>
				</tr>
		{% endfor %}
	</table>
</div>
<div class="section">
	<h2>{{ site.data.jobs.sub-title }}</h2>
	<p>{{ site.data.jobs.tips }}</p>
</div>
